.back-game{
  background-color: #0c3163;
}
.bleachers{
  background-image: url(../images/game-stadium.jpg);
  background-position: center;
	background-size: cover;
  background-repeat: no-repeat;
  width: 1326px;
  height: 260px;
}
.tittle{
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  text-shadow: -10px 10px 0px rgb(59, 136, 191);
  }
.game-field-stadium{
  border: 3px solid #ffffff;
}