body{
  background-image: url("../images/levels_back.png");
  background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
}

btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}

.btn3d.btn-warning {
	box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #FEAF20;
}

.btn3d.btn-warning:active,
.btn3d.btn-warning.active {
	box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #FEAF20;
}
#planet{
 width: 50%;
 height: 50%;
}

#section1{
	margin-top: 5%;
	margin-bottom: 2.5%;
}
#section2{
	margin-top: 2.5%;
	margin-bottom: 5%;
}
.btn-tuto{
	width: 100%;
}
#planet{
	background-image: url('../images/planet.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	width: 390px;
}

.btn-default {
	top: 25%;
	left:25%; 
	color: #999; 
	background: #fffccc; 
} 

.cont-back{
	background-color: #101929;
	color: #fff;
}